.form-input{
    height: 48px;
    border: none;
    border-bottom: 1px solid #27272a;
    box-shadow: none;
    outline: none;
    border-radius: 0px;
    background: none;
    font-size: medium;
    
}

.form-logo{
    width: 5rem;
    height: 5rem;
}

.form-input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

.form-card{
    display: flex;
    flex-direction: column;
    height: auto;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    width: 490px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 4rem;
    padding-left: 4rem;
    border-radius: 5px;
}

.form-card-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line-left{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: baseline;
    width: 100%;
    gap: 0.5rem;
    font-size: small;
}

.form-style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-btn{
    background-color: #6bbd75;
    font-size: large;
    font-weight: 500;
    width: 80%;
    
}

.form-btn:hover{
    background-color: #53ad5d;
    transition: all 0.2s linear;
}

.form-btn:focus{
    background-color: #60bd6b;
}

.link-auth{
    font-size: small;
    text-decoration: none;
}

.link-auth:hover{
    transition: all 0.4s linear;
}

.txt-s{
    font-size: small;
}

/* estilizações da Navbar */

.navbar{
    display: flex;
    height: 3.5rem;
    flex-direction: row;
    background-color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
    align-content: center;
}

.nav-content-left{
    padding-left: 1rem;
}

.nav-content-right{
   display: flex;
   flex-direction: row;
   justify-content: end;
   gap: 2rem;
}

.nav-icon{
    height: 2rem;
    width: 2rem;
}

.nav-box-content{
    width: 50%;
    display: flex;
    flex-direction: row;
}

.search-box{
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    align-items: center;
}

.nav-search-input{
    width: 15rem;
    height: 2rem;
    border-radius: 0px 15px 15px 0px;
    border: none;
    background-color: #e9e9e9;   
    padding-left: 10px;
}

.nav-search-input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

.icon-search{
    height: 2rem;
    border-radius: 4px 0px 0px 4px;
    background-color: #e2e2e2;
}

.nav-profile{
    width: auto;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin-right: 1.5rem;
    background-color: #fff;
    font-size: small;
    font-weight: 600;
    align-items: flex-end;
}
.nav-profile-icon{
    height: 1.5rem;
    width: 1.5rem;
}

.perfil-content{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    text-align: center;
    background-color: #fff;
    width: 12rem;
    position: absolute;
    top: 3.7rem;
    right: 0.3rem;
    z-index: 2;
    border-radius: 8px;
    padding: 0.3rem;
}    


.nav-option{
    display: flex;
    color: #27272a;
    text-decoration: none;
    align-items: center;
}